/* .App {
  text-align: center;
} */







.App-link {
  color: #61dafb;
}

.bg{
  background-image:linear-gradient(to right,rgb(218, 29, 123),rgb(21, 21, 243));
  color:white;
  height:100vh
}
.head{
  color:black;
  text-decoration: underline;
  text-align:center;
}
.logintext{
  text-align: left;
}
.alertt{
  color:"red"
}
::placeholder { 
  color: red;
  opacity: 1; 
}
.text-field{
  font-size:20px;
}
.text-input{
  width:50vh;
  border:2px solid black;
  
}
.img{
  width:120%;
}
.card{
  background-color: blanchedalmond;
  color:black;
  margin-top:50px;
  padding: 30px;
}
